# Java / Maven
target/
*.class
*.log

# IntelliJ IDEA
.idea/
*.iml
out/

# NetBeans
nbproject/private/
nbproject/Makefile-*
nbproject/build-impl.xml

# OS / Sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.*
*.properties
config.properties

# Permitimos ejemplos
!config.properties.example

# Docker / Volúmenes locales
mongo_data/
mysql_data/

# Docker overrides locales
docker-compose.override.yml

# Logs runtime
logs/
